body{
    background-color: #FFF5F6!important;
}
a{
    width: 100%;
}
.metadeImagem{
    padding-left: 0!important;
}
.imgFundo img{
    width: 95%;
}
.metadeLogin{
    padding-right: 70px!important;
    background-color: #FFF5F6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.inputLogin{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background-color: #FFF5F6;
}
.inputLogin:focus-visible{
    border-left: 0!important;
    border-right: 0!important;
    border-top: 0!important;
}
.linkCadastro{
    color: black;
    text-decoration: underline;
    text-align: center;
}
@media (min-width: 1400px){
    .container {
        max-width: none!important;
    }
}
@media (max-width: 620px) {
    .imgFundo img{
        width: 103%;
    }
    .metadeLogin {
        background-color: #FFF5F6;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-right: 0px!important;
 }
}